.footer{
    height: 5em;
    z-index: -100;
    text-align: center;
}

.footer ul{
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.footer ul li {
    display: inline-block;
}

.footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
}

.copyright{
    padding: 15px 0;
    float: right;
}