<div class="footer">

    <ul>
        <li>
            <a href="https://github.com/damisv/hackathon17-2late">
                <i class="fa fa-github fa-3x"></i>
                <p><small>Visit our repo</small></p>
            </a>
        </li>
        <li>
            <a href="http://informatics.teicm.gr">
                <i class="fa fa-university fa-3x"></i>
                <p><small>University</small></p>
            </a>
        </li>
        <li>
            <a href="http://hackathon.serrestech.gr">
                <i class="fa fa-question-circle fa-3x"></i>
                <p><small>SerresTech Hackathon</small></p>
            </a>
        </li>
        <li>
                            <span class="copyright">
                                Copyright &copy; 2017 by  2late - Hackathon 2017 | #SerresHack
                             </span>
        </li>
    </ul>



</div>