<!doctype html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Management</title>
    <!--     Fonts and icons     -->
    <script src="https://use.fontawesome.com/73154cc6f5.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/material_theming/indigo-pink.css">


</head>
<body>
<my-app>
	Loading...
</my-app>
<script src="/js/app/bundle.js"></script>
</body>
</html>