
        <md-grid-list cols="2" rowHeight="200px">
            <md-grid-tile [colspan]="1" [rowspan]="3">
                <md-card class="nostyle">
                    <md-card-title>
                        Complaints Statistics
                    </md-card-title>
                    <md-card-subtitle>
                        Statistics by category
                    </md-card-subtitle>
                    <md-card-content>
                        <chart [options]="pieOptions"></chart>
                    </md-card-content>
                    <md-card-actions>

                    </md-card-actions>
                    <md-card-footer>
                        Updated 5 minutes ago
                    </md-card-footer>
                </md-card>

            </md-grid-tile>

            <md-grid-tile [colspan]="1" [rowspan]="3">

                <md-card class="nostyle">
                    <md-card-title>
                        File Complaints per month
                    </md-card-title>
                    <md-card-subtitle>
                        afasf
                    </md-card-subtitle>
                    <md-card-content>
                        <chart [options]="options"></chart>
                    </md-card-content>
                    <md-card-actions>
                    </md-card-actions>
                    <md-card-footer>
                        Updated 6 minutes ago
                    </md-card-footer>
                </md-card>

            </md-grid-tile>

            <md-grid-tile [colspan]="1" [rowspan]="3">

                <md-card class="nostyle">
                    <md-card-title>
                        New Complaints
                    </md-card-title>
                    <md-card-subtitle>
                        The last 5 complaints filled are the belows
                    </md-card-subtitle>
                    <md-card-content>
                        <md-list>
                            <md-list-item>First complaint</md-list-item>
                            <md-list-item>Second complaint</md-list-item>
                            <md-list-item>Third complaint</md-list-item>
                            <md-list-item>Fourth complaint</md-list-item>
                            <md-list-item>Fifth complaint</md-list-item>
                        </md-list>
                    </md-card-content>
                    <md-card-actions>
                        <button md-raised-button>View all</button>
                        <button md-raised-button>File new</button>
                    </md-card-actions>
                    <md-card-footer>
                        Updated 6 minutes ago
                    </md-card-footer>
                </md-card>

            </md-grid-tile>

        </md-grid-list>
