        <!--<input size="60" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">-->

        <md-input-container style="width:100%">
                <input  mdInput placeholder="Search for an address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </md-input-container>


        <p>Is there something that bothers you ?</p><button md-raised-button [routerLink]="['/file']">File  a complaint</button>

        <br>
<hr>
        <div class="raised-card">
                <agm-map #mMap (mapClick)="onMapClicked($event)" [latitude]="latitude" [longitude]="longitude" >

                        <agm-marker *ngFor="let complaint of complaints;let i=index" (markerClick)="openDialog(complaint)"  [latitude]="complaint.lat" [longitude]="complaint.lng"></agm-marker>

                </agm-map>
        </div>

{{ selectedOption }}