

<!--

-->
<md-toolbar color="primary">
    <span><md-icon  (click)="sidenav.open()">menu</md-icon></span>
    <md-toolbar-row>
        <span>Username</span>
        <span class="example-spacer"></span>
        <md-icon class="example-icon">verified_user</md-icon>
    </md-toolbar-row>
    <md-toolbar-row>
        <span><h1>{{ filterCategory }}</h1></span>
        <span class="example-spacer"></span>
        <md-icon class="example-icon"></md-icon>
    </md-toolbar-row>

</md-toolbar>
<md-sidenav-container class="container">

    <md-sidenav #sidenav class="sidenav">
        <span>Categories</span>
        <md-list>
            <md-list-item *ngFor="let category of distinctCategories" (click)="changeCategory(category)">
                <md-icon md-list-icon>folder</md-icon>
                <h4 md-line >{{category}}</h4>
                <p md-line>{{category}}</p>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div class="sidenav-content">


       <!-- <h1>Complaints</h1>
        <md-select placeholder="Filter" [(ngModel)]="filterCategory">
            <md-option *ngFor="let category of distinctCategories" [value]="category">{{category}}</md-option>
        </md-select>
        <button (click)="deleteFilteredComplaints()">Delete all filtered</button>-->

                <md-tab-group #tabGroup style="width:100%;height:100%">
                    <md-tab label="Complaints View">
                        <table style="padding-top:0;padding-bottom:0">
                            <tr *ngFor="let complaint of complaints; let i = index">
                                <td *ngIf="categorySearch(complaint.category)"><md-checkbox (checked)="checkthis(complaint._id)"></md-checkbox></td>
                                <td *ngIf="categorySearch(complaint.category)">{{ i+1 }}</td>
                                <td *ngIf="categorySearch(complaint.category)" >{{complaint.name}}</td>
                                <td *ngIf="categorySearch(complaint.category)" >{{ complaint?.status }}</td>
                                <td *ngIf="categorySearch(complaint.category)" >{{ complaint?.dateAdded}}</td>
                            </tr>
                        </table>
                    </md-tab>
                    <md-tab label="Create an account">
                        <div class="form">

    <md-card style="padding-left:5em;">
        <md-card-title>
            Create an account with specific privileges
        </md-card-title>
        <md-card-subtitle>
            Please fill all input fields
        </md-card-subtitle>

        <md-card-content >
            <p><md-input-container class="full-width">
                <input mdInput placeholder="Privileges" [mdAutocomplete]="auto" [formControl]="privilegesCtrl">
            </md-input-container>
                <md-autocomplete #auto="mdAutocomplete">
                    <md-option *ngFor="let privilege of filteredPrivileges | async" [value]="privilege">
                        {{ privilege }}
                    </md-option>
                </md-autocomplete>
            </p>
            <p><md-input-container class="full-width">
                <input mdInput placeholder="Name of user" >
            </md-input-container></p>
            <p><md-input-container class="full-width">
                <input mdInput placeholder="Last Name of user" >
            </md-input-container></p>
            <p><md-input-container class="full-width">
                <input mdInput placeholder="username" >
            </md-input-container></p>
            <p><md-input-container class="full-width">
                <input mdInput type="password" placeholder="password" >
            </md-input-container></p>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button>Create this account</button>
        </md-card-actions>
    </md-card>



                        </div>
                    </md-tab>
                </md-tab-group>



        <!--<input #box (keydown.enter)="addCategory(box.value)" type="text" placeholder="new category">
        <h1>Category: {{newCategory}} saved</h1>

        <div *ngFor="let category of categories; let i = index">
            <h1>{{category.name}} <button (click)="removeCategory(i)">{{i}}</button></h1>
        </div>
        <h1>Distinct Categories</h1>
        <div *ngFor="let category of distinctCategories; let i = index">
            <h1>{{category}} <button (click)="removeCategory(i)">{{i}}</button></h1>
        </div>-->


        <!--
        <table>
        <ng-template *ngFor="let complaint of complaints; let i = index">
            <tr *ngIf="categorySearch(complaint.category)">
                <td><md-checkbox></md-checkbox></td>
                <td>{{ i+1 }}</td>
                <td>{{ complaint?.name}}</td>
                <td>{{ complaint?.status }}</td>
                <td>{{ complaint?.dateAdded}}</td>
            </tr>
        </ng-template>
        </table>-->

    </div>

</md-sidenav-container>